:root {
    --goldcolor: #EFC69B;
    --redcolor: #AF1B3F;
    --darkcolor: #473144;
    --bodyfont: Helvetica, Arial, sans-serif;
    --headlinefont: Lora, Impact, serif;
}

body {
    font-family: var(--bodyfont);
    margin: 0;
}

h1 {
    font-family: var(--headlinefont);
    text-align: center;
}
h2 {
    font-family: var(--headlinefont);
    color: var(--redcolor);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--redcolor);
}
nav{
    border-bottom: 1px solid var(--goldcolor) ;
    border-top: 1px solid var(--goldcolor) ;

}
nav ul {
    font-size: large;
    display: grid;
    grid-template-columns: 65px 75px 75px;
    justify-content: end;
    justify-items: left;
    padding: 10px;
    margin: 0 auto;
    max-width: 90%;
}
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
    max-width: 90%;
}
#filter {
    border: 1px solid var(--goldcolor);
    margin-top: 20px;
    margin-left: 10%;
}
.article {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.details {
    text-align: right;
    line-height: 8px;
    padding-right: 15px;
    border-right: 1px solid var(--goldcolor);
    margin-top: 20px;
}
.date {

    font-size: large;
}
.bookdescription {
    display: grid;
    justify-items: center;
    padding-left: 10px;
    margin-top: 5px;
}

.bookdescription h2, .bookdescription p {
    justify-self: left;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
}
.skiptocontent a:focus {
    top: 0px;
}